@charset "UTF-8";

body{
	text-decoration-style: justify;
	font-family: arial, sans-serif;
}

/*logo*/
hgroup#logo {
	font-family: arial, sans-serif;
	background: white;
	height: 180px;
}

hgroup#logo h5{
	font-style:italic;
	font-size: 12px;
	line-height: 2px;
	color: #303030;	
}


hgroup#logo img{
	position: absolute;
	top: 25px;
	left: 35%; 
	width: 440px;
}

/*Menu*/
hr.menu { 
  	border: 0; 
  	height: 2px; 
  	background-image: -webkit-linear-gradient(left, #f0f0f0, #566056, #f0f0f0);
  	background-image: -moz-linear-gradient(left, #f0f0f0, #566056, #f0f0f0);
  	background-image: -ms-linear-gradient(left, #f0f0f0, #566056, #f0f0f0);
  	background-image: -o-linear-gradient(left, #f0f0f0, #566056, #f0f0f0); 	
}

nav#menu {
	display: block;
}

nav#menu li {
	background-color: #006600;
	font-size: 18px;
	padding: 5px;
	margin: 5px ;
	display: inline-block;
	
}

nav#menu li:hover{
	text-decoration: none;
}

nav#menu a{
	color: white ;
	text-decoration: none;
	font-style: italic;
	padding:10px 10px 10px 10px;
}

nav#menu a:hover{
	color: black;	
	background: white;
	opacity: 0.4;
}


nav#menu ul{
	background-color: #006600;
	list-style: none;
	text-transform: uppercase;
	margin:10px; 
	border-bottom: 5px white solid ;
	height: 40%;
	width: auto;
	padding: 8px;	
}

/*Destaque*/

div#destque{
	margin:10px; 
}

ul#destaque {
	display: block;
	list-style: none;
	text-transform: uppercase;
	padding:10px 10px 10px 10px;
	width: auto;
}

ul#destaque li {
	padding: 2px;
	display: inline-block;
	
}

ul#destaque li:hover{
	text-decoration: none;
}

ul#destaque a:hover{	
	background: white;
	opacity: 0.4;
}

hr.style1 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}
	
/*login*/
fieldset#login {
	position: absolute;
	top: 37px;
	right: 1px; 
	height: 28px;
	padding: 10px;
}

fieldset#login {
	position: absolute;
	right: 1px; 
	padding-top: 2px;
	padding-bottom: 10px;
}


fieldset#login a{
	color: black ;	
	font-family: arial;
	text-decoration: none;
	font-size: 10px;
	padding: 2px;
}

/*tabela*/

table#tabela{
	margin:10px;
	
}

table#tabela tr{
	margin-left:5px;
	font-family: Arial, sans-serif;
	color: black;
	text-align:  justify;
}

table#tabela h3{
	margin-left:10px;
	font-family: Futura, "Trebuchet MS";
	color: red;
	text-transform: uppercase;
	margin-bottom: 28px;
	text-align: center;
}

img.foto1{
	left:2px;
	height: 250px;
	padding-top:25px;
	margin-right: 250px;
}

td.parte2{
	text-align: left;
	height: 350px;
	padding-top:1px;
	padding-left:60px;
	padding-right:30px;
	font-family: arial;
	font-size: 18px;
}

img.foto3{
	border-radius: 5px;
	height:1px;
	width:1px;
	padding-top:1px;
}

/*Imagens*/
div.galeria {
    border: 1px solid #ccc;
}

div.galeria:hover {
    border: 1px solid #777;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

div.galeria img {
    width: 400px;
    height: auto;
}

div.galeria p {
	font-family:Palatino Linotype;
	text-align: center;
}

* {
    box-sizing: border-box;
}

.imagen {
    padding: 4px 6px;
    width: 415px;
}

@media only screen and (max-width: 700px){
    .imagen {
        width: 49.99999%;
        margin: 6px 2px;
    }
}

@media only screen and (max-width: 500px){
    .imagen {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*login e cadastro pagina*/
div.login {
	padding-top:20px;
	font-size: 14px;
	padding-bottom:20px;
}

div.login h2{
color: #000000;
text-align: center;
font-family:Verdana;
font-size: 12px;
}

div.login fieldset{
color: #000000;
text-align: left;
font-family:Verdana;
}

fieldset#contato {
	border-width: 1px;
    border-style: solid;
    background-color: darkred;
}
/*rodape*/
footer{
	background-color: darkgreen;
	font-size: 16px;
	margin: 1px ;
	text-align:center;
	max-width: 100%;
	height: 52px;
	color: white;

}

hr.linhavertical{
	width:1px;
	height: 36px;
	background-color: white;
}

table#rodape td{
	text-align: left;
	padding-top:1px;
	padding-left:20px;
	padding-right:20px;
	font-family: vertena;
}